html { 
	height: 100%;
	font-family: 'Cabin', sans-serif;
}
body { 
	height: 100%; margin: 0; padding: 0;
}
.container {
	height: 100%;
	width: 100%;
}
#map-canvas { 
	height: 100%;
	width: 100%;
	padding: 0;
}
.placesList {
	border: solid;
	width: 30%;
	margin-top: 10px;
}
.hidden {
	display: none;
}
#side_bar {
	max-height: 70%;
	position: absolute;
	border-radius: 20px;
	overflow-y: auto;
    width: 27%;
    min-width: 250px;
    background-color: rgba(13, 117, 165, 0.77);
    box-shadow: 5px 5px 5px #888;
    color: white;
    top: 2%;
    left: 1%;
    padding: 2%;
}

.listElement {
	color: #FFFC20;
	text-shadow: 1px 1px rgba(37, 59, 81, 0.7);
	text-decoration: none;
	font-weight: bold;
}

.category {
	font-style: italic;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	color: #FFF;
}

h2 {
	color: #FFF;
	text-shadow: 2px 2px #3C3845;
	margin-top: 0;
}

/*::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}*/