html { 
	height: 100% 
}
body { 
	height: 100%; margin: 0; padding: 0 
}
.container {
	height: 100%;
	width: 100%;
}
#map-canvas { 
	height: 100%;
	width: 100%;
	padding: 0;
}
.placesList {
	border: solid;
	width: 30%;
	margin-top: 10px;
}
